.content
{
    display: flex;
    flex-direction: column;
    align-content: center;

    .top-pokemon
    {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }


    .information
    {
        display: flex;
        flex-direction: row;

        align-content: center;
        gap: 50px;
        font-size: 15px;

        p
        {
            margin-left: 20px;
        }
    }
}
