<div class="content">
    <div class="top-pokemon">
        <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
            draggable="false"
            width="60px">
        <p>Bulbasaur</p>
    </div>
    <div class="information">
        <div class="skills">
            <h2>Habilidades</h2>
            <p>- Habilidade 1</p>
            <p>- Habilidade 1</p>
            <p>- Habilidade 1</p>
        </div>

        <div class="types">
            <h2>Tipos</h2>
            <p>- Pranta</p>
        </div>
    </div>
</div>