<div class="content">
    <div class="top-pokemon">
        <img
            [src]="searchImage(pokemon?.id || '')"
            draggable="false"
            width="160px">
        <p>{{ pokemon?.name | titlecase }}</p>
    </div>
    <div class="information">
        <div class="skills">
            <h2>Habilidades</h2>
            <p *ngFor="let skill of pokemon?.abilities">- {{ skill.ability.name }}</p>
        </div>

        <div class="types">
            <h2>Tipos</h2>
            <p *ngFor="let type of pokemon?.types">- {{ type.type.name }}</p>
        </div>
    </div>
</div>